{% comment %} 
snippets html to show user information if he is connected => included in common base
context = {
} 
{% endcomment %}
{% load filters %}
{% block content %}
{% if user.is_authenticated %}
    <p>Connected as {{user.username}} | <a href="{% url 'accounts'|app_redir:'logout' %}"> logout </a></p>
    {% include 'notifications/snippets/s_notif_preview.html' %}
{% else %}
    <p><a href="{% url 'accounts'|app_redir:'login' %}"> login </a></p>
    <p><a href="{% url 'accounts'|app_redir:'register' %}"> register </a></p>
{% endif %}
{% endblock %}