<!DOCTYPE html>
<html>

<head>
    <title>HTML Sign-in Form</title>
</head>

<body>
    <div class="main">
        <h1>Wonderfull PONG</h1>
        <h3>Enter your login credentials</h3>

        <!-- <form action=""> -->
        <form method="POST" enctype="application/x-www-form-urlencoded" action="authorize">
            <label for="username">
                Username:
            </label>
            <input type="text" id="username" name="username" 
                placeholder="Enter your Username" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button onclick="myFunction()">hey</button>
            </div>
        </form>
        
        <p>Not registered?
            <a href="#" style="text-decoration: none;">
                Create an account
            </a>
        </p>
    </div>
</body>

</html>