{% extends "common/g_actions_table.html" %}
{% include "common/title.html" with app_name=app_name %}
{% comment %} 
context = {
    'app_name' : app_name,
    'objects': object_list_to_treat,
    'field': field_to_get,
    'redir': url_to_redir_from_elem_in_tab,
    'display': display_name_default_is_object,
    'endredir': redir_toadd_at_the_end_of_table,
    'endredir_mess': mess_of_end_redir,
}
{% endcomment %}
{% load filters %}
{% block more_content %}
TEST
<p><a href="{% url 'notifications'|app_redir:endredir %}"> {{endredir_mess}} </a></p>
{% endblock %}