{% comment %} 
represent a list of clickable object
context ={
    'object_list': object_list,
    'show_url': redir_to_show_object,
} 
{% endcomment %}
<table>
    <tr>
        {% comment %} <th> {{field|upper}} </th> {% endcomment %}
        {% block col_names %}
        {% endblock %}
    </tr> 
    {% for object in object_list %}
        <tr>
            <th> {% include  'utils/object_ref.html' with object=object do_url=show_url %} </th>
            {% block more_col_val %}
            {% endblock %}
        </tr>
    {% endfor %}
</table>