{% extends "common/g_table_whit_optional_actions.html" %}
{% comment %} {% extends "relationship/g_base.html" %}
{% block content %}
<table>
    <tr>
        <th> Username </th>
        {% if user.is_authenticated %}
        <th> Friend </th>
        <th> Block </th>
        {% endif %}
    </tr>
    {% for u in all_user %}
        <tr>
            <td> {{ u.username }} </td>
            {% if user.is_authenticated %}
                <td> <a href="{% url 'relationship:friend_request' u.username %}"> friend? </a> </td>
                <td> unimplemented </td>
            {% endif %}
        </tr>
    {% endfor %} {% endcomment %}

{% comment %} 
</table>
{% endblock %} {% endcomment %}