{% load relation_tags %}
{% load filters %}
{% get_trs as links %}
{% for key in links %}
<a href="{% url 'relationship:detail'  links|dict_val:key%}">
    <button> {{key}}  </button>
</a>
{% endfor %}
<a href="{% url 'relationship:detail'  'all'%}">
    <button> all  </button>
</a>
<a href="{% url 'relationship:index'%}">
    <button> index  </button>
</a>

{% comment %} {% include 'utils/href_button.html' with ref_url='relationship:all' ref_display='see all'%}
{% include 'utils/href_button.html' with ref_url='relationship:filter' ref_display='filter view'%} {% endcomment %}