{% load static %}

<!DOCTYPE html>
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'common/main.css'%}">
</head>


<body>

    <div id="sidenav">

        {% block sidenav %}
            {% include "accounts/s_account.html" %}
            <a href="{% url 'games:index' %}">Games</a>
            <a href="{% url 'tournaments:index' %}">Tournaments</a>
            <a href="{% url 'accounts:index' %}">Account</a>
            <a href="{% url 'relationship:index' %}">All users</a>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>