{% extends "common/g_base.html" %}
{% comment %} 
represent url off an object with redir to with pbj.field as argument
context ={
    'forms': [form],
} 
{% endcomment %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <table>
        {%for f in forms%}
        {{ f.as_p }}
        {%endfor%}
    </table>
    <button type={% block submission_action %}"
                submit"{% endblock %}>
                {% block submission_name %}
                "submit"
                {% endblock %}
    </button>
</form>
    {% block additionnal_content %}
    
    {% endblock %}

{% endblock %}