{% extends "relationship/g_base.html" %}
{% comment %} 
context = {
        'objects': object_list_to_treat,
        'field': field_to_get,
        'redir': url_to_redir
        'display': display_name_default_is_object
    } 
{% endcomment %}

{% load tags %}
{% block content %}
<table>
    <tr>
        <th> {{field|upper}} </th>
        {% block optional_actions_name %}
        {% endblock %}
    </tr>
    {% for o in objects %}
        <tr>
            <th> {% include  'common/g_href_by_attr.html' with field=field object=o redir=redir %} </th>
            {% block optional_actions %}
            {% endblock %}
            {% comment %} <td> {{ u.username }} </td>
            {% if action_cond %}
                <td> <a href="{% url 'relationship:friend_request' u.username %}"> friend? </a> </td>
                <td> unimplemented </td>
            {% endif %} {% endcomment %}
        </tr>
    {% endfor %}


</table>
{% endblock %}